body {
  
}

.header {
 // background-image: url("https://stormideaswus.blob.core.windows.net/headerjunction/2014/91/d63adef3-99cf-411a-b2e3-e99a3e8e82e9.jpg");
  background-color: black;
  color: white;
  font-family: 'Reem Kufi', sans-serif;
  font-size: 2em;
  line-height: 90%;
  height: 90px;
  padding: 20px;
}

#header-nav-container{
  padding: 0px;
}

#search-input {
  text-align: left;
  width: 6em;
  color: #000000;
  
}

.search-container {
  text-align: right;
  }
  
.search-container p{
  display: inline;
  font-size: 0.6em;
  }
  
 #testinguje a{
   font-size: 1em;
   color: white; 
 }
 #testinguje a:hover{
   color: black;
 }
