/* reset browser styles */
* {
  box-sizing: border-box; 
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
	background: black;
	color: white;
	font-family: "Lucida console";
}
/*=================== logo and nav styes ======================*/
.logo {
	max-width: 600px;
	margin: 0 auto;
}
.logo img {
	width: 100%;
}
ul.nav {
	background: black;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	border-bottom: 1px dashed grey;
	text-align: center;
}
ul.nav li {
	display: inline;
}
ul.nav a {
	font-size: .8em;
	display: inline-block;
	border: 1px dashed grey;
	border-bottom: none;
	padding: 5px 15px 5px 15px;
	margin-right: 5px;
	background-color: #eaeaea;
	text-decoration: none;
	color: #009900;
	line-height: 50px;
}
.toggleMenu {
	display: none;
	width: 100%;
	padding: 5px 15px 5px 15px;
	font-size: 1.8em;
	line-height: 39px;
	text-align: center;
	color: #009900;
	background-color: #eaeaea;
	cursor: pointer;
	border-bottom:1px dashed grey;
	z-index: 101;
}
/*====================== sticky nav styles =====================*/
.navWrapperSticky {
	height: 62px;
}
.horizontalNav {
	width: 100%;
	z-index: 100;
}
.sticky {
	position: fixed;
	top:0;
}
.stickyToggleMenu {
	position: fixed;
	top:50px;
}
.toggleMenuWrapper {
	display: none;
	width: 100%;
	height: 50px;
}
/*================== main content styles ====================*/
.contentWrapper {
	max-width: 1200px;
	margin: 0 auto;
}
.columnWrapper {
	float: left;
	width: 80%;
}
.mainContent {
	float: right;
	width: 75%;
	padding: 0 10px 0 10px;
	border-right: 1px dashed grey;
	border-left: 1px dashed grey;
}
.leftSidebar {
	float: left;
	width: 25%;
	padding: 0 10px 0 20px;
}
.rightSidebar {
	float: right;
	width: 20%;
	padding: 0 20px 0 10px;
}
.mainContent h2 {
	text-align: center;
	font-size: 1.6em;
	margin: 20px;
}
.sidebar h3 {
	text-align: center;
	font-size: 1.2em;
	margin: 20px 0;
}
/*==================== fluid width video iframe =====================*/
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin-top: 50px;
	margin-bottom: 20px;
}
.mainContent article iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*======================== footer styles ====================*/
footer {
	clear: both;
	border-top: 1px dashed grey;
	padding: 20px 0;
}
footer p {
	text-align: center;
}
footer a{
	color: #009900;
}
/*====================== min width >= 856px ====================*/
@media (min-width: 856px) {
	ul {
		display: block!important;
	}
	.stickyToggleMenu {
		top:0;
	}
	.mediaLogo_1 {
		display: block;
	}
	.mediaLogo_2 {
		display: none;
	}
}
/*========================= 481px to 855px ===================*/
@media (min-width: 481px) and (max-width: 855px) {
	.toggleMenu {
		display: block;
		position: fixed;
		top: 0;
	}
	.toggleMenuWrapper{
		display: block;
	}
	ul.nav li {
		width: 100%;
		display: block;
	}
	ul.nav a {
		font-size: 1.4em;
		width: 100%;
		border: none;
		border-bottom:1px dashed grey;
	}
	.nav {
		display: none;
	}
	.navWrapper {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 100;
	}
	.rightSidebar {
		clear: both;
		float: none;
		width: 100%;
		margin-bottom: 20px;
		border-top: 2px solid lightgrey;
	}
	.leftSidebar {
		font-size: .8em;
		width: 30%;
	}
	.columnWrapper {
		width: 100%;
	}
	.mainContent {
		width: 70%;
		border-right: none;
	}
	.mediaLogo_1 {
		display: none;
	}
	.mediaLogo_2 {
		display: block;
	}
}
/*============================ max width 480px ==================*/
@media (max-width: 480px) {
	.toggleMenu {
		display: block;
		position: fixed;
		top: 0;
	}
	.toggleMenuWrapper{
		display: block;
	}
	ul.nav li {
		width: 100%;
		display: block;
	}
	ul.nav a {
		font-size: 1.4em;
		width: 100%;
		border: none;
		border-bottom:1px dashed grey;
	}
	.nav {
		display: none;
	}
	.navWrapper {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 100;
	}
	.rightSidebar {
		clear: both;
		float: none;
		width: 100%;
		margin-bottom: 20px;
		border-top: 2px solid lightgrey;
	}
	.leftSidebar {
		float: none;
		width: 100%;
		border-top: 2px solid lightgrey;
	}
	.columnWrapper {
		float: none;
		width: 100%;
	}
	.mainContent {
		float: none;
		width: 100%;
		border-right: none;
		border-left: none;
	}
	.mediaLogo_1 {
		display: none;
	}
	.mediaLogo_2 {
		display: block;
	}
}



















































